<h1>HELLO Qingboyuan !</h1>

<a href="/demo/hello">Click here to hello page </a> <br />

<%= link_to("Also Click here to hello page",{:controller => 'demo', :action => 'hello'}) %> <br />

<%= link_to("Click here to hello page with parameters",{:controller => 'demo', :action => 'hello', :page => 3, :id => 3}) %>
<br />
<!-- <%= link_to("All books",books_path)%> -->
